.home-page {

    .typing-text-block {
        display: flex;

        .my-image {
            width: 250px;
            box-shadow: 12px 12px 10px blue;
            border-radius: 20px;

            @media screen and (max-width: 768px) {
                width: 150px;
                height: fit-content;
            }

            //for iOS
            @supports (-webkit-touch-callout: none) {
                @media screen and (max-width: 768px) {
                    width: 150px;
                    height: fit-content;
                }
            }

            @media screen and (max-width: 425px) {
                width: 100px;
                height: fit-content;
            }

            //for iOS
            @supports (-webkit-touch-callout: none) {
                @media screen and (max-width: 425px) {
                    width: 100px;
                    height: fit-content;
                }
            }
        }

        .typing-text {
            margin-left: 50px;

            .name-field {
                display: none;
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid #138C0E;
                color: #138C0E;
                cursor: none;

                @media screen and (max-width: 425px) {
                    width: 100px;
                }
                
                //for iOS
                @supports (-webkit-touch-callout: none) {
                    @media screen and (max-width: 425px) {
                        width: 100px;
                    }
                }
            }

            .show-name-field {
                display: block;
            }
        }
    }

    .circle-button-to-scroll-bottom {
        .show-scroll-button {
            transition: .5s;
            opacity: 1;
            position: relative;
            animation: animate .8s infinite;

            @keyframes animate {
                0% {
                    top: 0px;
                }

                50% {
                    top: 5px;
                }

                100% {
                    top: 0px;
                }
            }
        }

        .hide-scroll-button {
            opacity: 0;
        }
    }

    .hidden-content {
        opacity: 0;
    }

    .show-content {
        opacity: 1;
        transition: 2s;
    }
}