.tic-tac-toe {
    width: 462px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 40px auto;
    color: blue;
    text-shadow: 0 0 30px;

    .one-item {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 3px whitesmoke;
        margin: 2px;
        font-size: 120px;
        font-family: cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        @media screen and (max-width: 515px) {
            width: 100px;
            height: 100px;
        }

        @media screen and (max-width: 375px) {
            width: 70px;
            height: 70px;
        }
    }

    .disabled {
        pointer-events: none;
    }

    @media screen and (max-width: 515px) {
        width: 312px;
    }

    @media screen and (max-width: 375px) {
        width: 222px;
    }
}
