.type-animation {
    color: #138C0E;
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    h2 {
        font-size: 15px;
    }
}

