.footer {
    background-color: black;
    margin: 0 auto;
    box-shadow: 0 -1px 5px blue;

    .my-container {
        .footer-pages-block {
            width: fit-content;
            margin: 0 auto;
            padding: 50px 0 10px 0;
            display: flex;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    display: block;
                    margin: 0 15px;
                    cursor: none;

                    &:hover {
                        color: rgb(138, 137, 137);
                    }

                    &:active {
                        color: blue;
                    }
                }
            }
        }
    }

    .social-media {
        cursor: none;
    }
}
